{% block content %}
<form hx-post="/habit" hx-swap="afterend">
  <div class="grid">
  <input
    type="text"
    id="habit"
    name="habit"
    placeholder="Enter a habit"
    minlength="2"
    maxlength="50"
    required
    >
  <input id="dateinput" type="datetime-local" name="datetime" aria-label="Datetime local" required>
  </div>

  <div x-data="{ open: false }">
    <button class="secondary" type="button" @click="open = ! open">Customize</button>
    <div x-show="open" x-transition>
      <div class="grid">
        <div class="ungrid">
          <select id="pattern-select" name="pattern" aria-label="pattern-helper">
            <option value="Daily">Recurrence</option>
            <option value="Daily">Daily</option>
            <option value="Weekly">Weekly</option>
            <option value="Monthly">Monthly</option>
          </select>
          <small id="helper"><mark>Daily</mark> by default</small>
        </div>
        
        <div class="ungrid">
          <select id="status-select" name="status" aria-label="status-helper">
            <option value="Todo">Status</option>
            <option value="Todo">Todo</option>
            <option value="Done" disabled>Done</option>
            <option value="Postpone" disabled>Postpone</option>
          </select>
          <small id="status-helper"><mark>TODO</mark> by default</small>
        </div>

        <div class="ungrid">
          <select id="priorty-select" name="priority" aria-label="priority-helper">
            <option value="None">Priority</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="X">X</option>
          </select>
          <small id="priority-helper"><mark>None</mark> by default</small>
        </div>
      </div>
    </div>
  </div>
  <input type="submit" value="Submit"/>
</form>
{% endblock %}
