{% block content %}
<form class="grid" hx-post="/habit" hx-swap="afterend">
  <div class="ungrid">
    <select id="pattern-select" name="pattern" aria-label="pattern-helper">
      <option value="Daily">Recurrence</option>
      <option value="Daily">Daily</option>
      <option value="Weekly">Weekly</option>
      <option value="Monthly">Monthly</option>
    </select>
    <small id="helper"><mark>Daily</mark> by default</small>
    <input id="dateinput" type="datetime-local" name="datetime" aria-label="Datetime local" required>
  </div>

  <div class="ungrid">
    <select id="status-select" name="status" aria-label="status-helper">
      <option value="Todo">Status</option>
      <option value="Todo">Todo</option>
      <option value="Done">Done</option>
      <option value="Postpone">Postpone</option>
    </select>
    <small id="status-helper"><mark>TODO</mark> by default</small>

    <select id="priorty-select" name="priority">
      <option value="None">Priority - None</option>
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
      <option value="X">X</option>
    </select>
  </div>

  <input
    type="text"
    id="habit"
    name="habit"
    placeholder="Enter a habit"
    minlength="2"
    maxlength="50"
    required
    >
  <input type="submit" value="Submit"/>
</form>
{% endblock %}
